/* CSS Document */
body{
	background-color:rgba(200,200,200,0.8);
}
.fy{
	position:absolute;
	float:left;
	text-align:center;
	margin-top:550px;
	font-size:20px;
	width:700px;
}
input{
	width:20px;
	height:20px;
}
form{
	position:absolute;
	margin-left:100px;
	float:left;
}